:root
       {
         --white: #FFFFFF;
         --black: #000000;
         --very-ligth-pink: #C7C7C7;
         --text-input-field: #F7F7F7;
         --hospital-blue: #10c1d8;
         --sm:16px;
         --md:20px;
         --lg:24px;
       }



#main-contenedor
{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    
}

#texto-principal
{
    text-align: center;
    margin-top: 70px;  
}

#texto-principal h1
{
   padding: 24px 0px;
}


.contenedor-principal
{
    margin: 10px;
}

#contenedor-principal-one, #contenedor-principal-two,#contenedor-principal-three,#contenedor-principal-four
{
    
    display: flex;
    margin: 10px;
    justify-content: space-around;
}

#text-opcional
{
    text-align: center;
    margin: 10px;
}

#div-contenedores
{
    border: 1px solid grey;
    margin:10px
}


:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-ligth-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
  }

  body{
       font-family: 'Quicksand', sans-serif !important;
       margin: 0;
       padding: 0;
   }

   .cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    gap: 26px;
    place-content:center;
   }

   .product-card{
    width: 300px;
    
   }

   .product-card img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid var(--very-ligth-pink);
   }

   .product-info{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
   }

   .product-info figure img {
    width: 35px;
    height: 35px;
   }

   .product-info figure {
    margin: 0;
   }




/*--------------------------------Diseño responsive para telefonos-----------------------------------------*/

@media only screen and (max-width:571px)
{
 
 .contenedor-principal
 {
    margin: 10px;
    display: flex;
    flex-direction: column;
 }



 .contenedor-principal-one,.contenedor-principal-two
 {
    display: flex;
    flex-direction: column;
 }

 #contenedor-principal-one,#contenedor-principal-two,#contenedor-principal-three,#contenedor-principal-four
 {
    flex-direction: column;
    justify-content: center;
 }   


 #main-contenedor
 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    
 }

 #texto-principal
{
    margin-top: 0;
    font-size: 8px !important;
}

#texto-principal h1
{
   padding: 6px 0px;
   font-size: 24px;
}

   
}




/*---------------------------------diseño responsive para tablets -------------------------------------*/
@media only screen and (min-width:571px) and (max-width:768px)
{


 .contenedor-principal
 {
    margin: 10px;
        
 }


 .contenedor-principal-one,.contenedor-principal-two
 {
    display: flex;
 }
 

 #contenedor-principal-one,#contenedor-principal-two,#contenedor-principal-three,#contenedor-principal-four
 {
    flex-direction: column;
    justify-content: center;
 }


 #main-contenedor
{
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    
}



}








    






