@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');


#imagen-ubicacion
{
    margin-top: 85px;
}

.div-conoce-una-tienda
{
    background-image: url(./logos-nuevos/ubicaciones.png);
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.div-conoce-una-tienda h1{

    height: 300px;
    display: grid;
    place-content: center;
    color: #fff;
    font-size: 36px;
    
}


#titulo-ubicaciones
{
    display: flex;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    margin: 10px;
}


#etiquetas-almacenes
{
    display: flex;
    justify-content: center;
    
}

#etiquetas-almacenes-1, #etiquetas-almacenes-2
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    
}

#almacenes
{
    
    /* border: 1px solid black; */
    margin: 10px;
    width: 100%;
    height: auto;
    display: flex;
}


#numero-almacen
{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 10px;
    

}


#datos-almacen
{
  border-left: 1px solid black;
  padding-left: 10px;
  background-color: #fff;
}

.div-boton
{
    display: flex;
    justify-content: space-between;
}

#datos-almacen
{
    width: 100%;
    height: auto;
    margin: 10px;   
}

.masdetalles
{
    display: flex;
    justify-content: space-between;
}

.div-boton a{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.boton-1,.boton-2,.boton-3,.boton-4,.boton-5,.boton-6,.boton-7,
.boton-8,.boton-9,.boton-10,.boton-11,.boton-12
{
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--very-ligth-pink);
    cursor: pointer;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif !important;
    border-radius: 5px;

}

#imagen-ubicacion{
    width: 100%;
}

.detalles-pasarela,
.detalles-cosmocentro,
.detalles-valledelili,
.detalles-mercar,
.detalles-cosmobelleza,
.detalles-unicentro,
.detalles-chipichape,
.detalles-cosmoelsi,
.detalles-almavnsexta,
.detalles-calimanuevo,
.detalles-saladeventas,
.detalles-bodegaprincipal
{
    display: none;
}

#text-opcional
{
    text-align: center;
    margin: 10px;
}

/*------------------------ Diseño para moviles ----------------------------------*/

@media only screen and (max-width:571px) 
{
 
    #imagen-ubicacion
    {
        margin-top: 0;
    }  
 

    #etiquetas-almacenes
    {
        display: flex;
        flex-direction: column;
    }

    #datos-almacen
    {
     font-size: 4vw;
    }

    .masdetalles
    {
        font-size: 5vw;
    }

    .div-conoce-una-tienda
{
    margin-top: 0;
}

.div-conoce-una-tienda h1{

    height: 100px;
    font-size: 18px;
    
}


}