@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html
{
    overflow-x: hidden;
    display: block;
}


body
{
    overflow-x: hidden;
    background: white;
    font-family: 'Quicksand', sans-serif !important;
}

.navegacion,.slider-contenedor,.contenido-slider,#header
{
    width: 100%;
    height: auto;}

#imagen-nombre-1
{
    width: 115px;
}

#header
{
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;  
    border-bottom: 1px solid grey;
    z-index: 999;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: background-color .3s cubic-bezier(.42, .00, .58, 1.00);
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    z-index: 1;
          
}

.header-div,.slider-contenedor
{
    display: flex;
    width: 100%;
    
}

.imagen-nombre{
    display: flex;
    align-items: center;
}

.imagen-nombre,.navegacion
{
    
    margin-left: 20px;
}

.navegacion
{
    display: flex;
    flex-direction: row;
    align-items: center;                                                                                                                                                                                                                  
}


.boton-menu
{
    display: none;
    color: var(--black);
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid black;
    width: 120px;
    cursor: pointer;
    font-size: var(--md) !important;
    font-weight: bold;
    height: 35px;
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'Quicksand', sans-serif !important;
    
}

.menu
{
    display:inline-flex;
    float: right;
    width: 100%;
    justify-content:space-around  ;
}

.items-menu
{
    display: flex;
    justify-content: center;
    list-style: none;
       
}

.button-primary
{

    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight:600;
    
}
    
.button-primary:hover
{
    text-decoration: none;
}

.button-primary:hover > .span-primary::after
{
    width: 100%;
}

.span-primary
{
    position: relative;
}

.span-primary::after
{
  background-color: black;
  bottom: -2px;
  content:'';
  height: 2px;
  left: 0;
  position: absolute;
  transition: width .33s linear;
  width: 0% ;
}

.button-primary:hover
{
    color: black;
}

.inactive
{
    display: none;
}




.contenido-slider
{
    
    margin-top: 70px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.imagen-principal
{
    max-width: 100%;
    width: 100%;
    height: 430px;
    /* object-fit: cover; */
}

.contenido-inicio-1
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #fff;
    max-width: 1138px;
    width: 100%;
    padding: 24px 0px 72px 0px;

}

.contenido-inicio-2
{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    overflow: hidden;

}

.contenido-inicio-3
{
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    gap: 14px;
    place-content: center;
}

.contenido-inicio-card
{
    border: 1px solid black;
    display: grid;
    gap: 8px;
    justify-items: center;
    width: 100%;    
    border-radius: 18px;
    text-rendering: optimizeLegibility;

}

.contenido-inicio-card a
{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.contenido-inicio-card a img
{
    width:80px;
}

.contenido-inicio-card:hover
{
    border: 2px solid black;
    color: white;
}
 


#redes-sociales
{
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
}   



#imagen-logo-completa
{
    width: 60px;
    height: auto;
}


#div-logo-completo-1
{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure-logo-completo-1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#div-pie-de-pagina
{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-size: 14px ;
    border-top: 1px solid rgb(214, 214, 214)!important;
    padding: 6px 0px;

}

.boton-menu-desktop
{
    display: none;
}




/**-----------------  DISEÑO PARA MOVILES RESPONSIVE ------------------*/


@media only screen and (max-width:571px) 
{
   .desktop-menu
   {
    display: none;
   }    

   .header-div{
    display: flex;
    justify-content: space-around;
    width: 100%;
   }

    /* #header
    {
        background-color: transparent;
        position:relative;
        display: flex;
        justify-content: center;
    } */
    
    .navegacion
    {
        width: 50%;
      display: flex;
      justify-content: center;
      margin: 0; 
    }

    .boton-menu
    {
        display: block;
        width: 55%;
        margin-right: 0;
    }

    .menu
    {
        display: none;
    }

    /* .contenido-slider
   {
    margin-top: 0 !important;
   } */

    .imagen-principal
    {
        
        width: 100%;
        height: 130px;
        object-fit: fill;
    }



    #imagen-nombre-1
    {
        max-width: 148px;
        min-width: 130px;
        width: 100%;
    }

     
    
    #empleados-png
    {
        width: 100%;
        height: auto;
       
    }


 #div-redes-sociales
 {
     align-items: center;
 }

 #redes
 {
     width: 35px;
     height: 35px;
 }


   
 #empleados-png
 {
    width: 100%;
    height: auto;
 }

 .boton-menu-desktop
 {
    display: none;
 }

 #div-pie-de-pagina
 {
   font-size: 10px;
 }

}

/* ------------------------------DISEÑO RESPONSIVE PARA TABLET---------------*/


@media only screen and (min-width:571px) and (max-width:890px)
{

    
    .menu
    {
        display: none;
    }

    .navegacion{
       display: flex;
       justify-content: flex-end;
    }
   
    .div-contenido-one
    {
      display: none;
    }
    
    #div-contenido-2
    {
        display: flex;
        justify-content: center;
    }

    .div-contenido-2-2
    {
        display: flex;
        flex-direction: column; 
    }


    #div-contenido
    {
    
      margin-top: 80px;

    }

    #header
    {
        width: 100%;
    }

    
    .menu
    {
        font-size: 20px;
    }

  
   .inactive 
   {
    display: none;
   }
  
  .navbar-left ul,
  .navbar-right ul 
   {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex ;
    align-items: center;
    height: 60px;
   }

  .navbar-left
  {
    display: flex;
  }

  .navbar-left ul
  {
    margin-left: 12px;
  }

  .navbar-left ul li a,
  .navbar-right ul li a 
  {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover 
  {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
  }

  .navbar-email
  {

    color: var(--black);
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    font-size: var(--lg) !important;
    font-weight: bold;
    height: 36px;
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'Quicksand', sans-serif !important;
    padding: 0px 24px;
    
  }

  .navbar-shopping-cart
  {
    position: relative;
  }
  .navbar-shopping-cart div
  {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  /* Menu en desktop */
  .desktop-menu
  {
    position: absolute;
    top: 70px;
    right: 24px;
    background: var(--white);
    height: auto;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px 20px 0px 20px;
    background-color: rgba(255, 255, 255, .9);
    /* backdrop-filter: blur(5px); */
    font-weight: 500;
    font-size: 17px;

  }

  .desktop-menu ul 
  {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .desktop-menu ul li
  {
    text-align: end;
  }
  
  .desktop-menu ul li:last-child a 
  {
    color: black;
  }

  .desktop-menu ul li a 
  {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }

  .imagen-principal
    {
       width: 100%;
       height: 250px;
    }

    #div-pie-de-pagina{
    
        font-size: 12px;
    }
    


}

@media only screen and (min-width:890px)
{
  .desktop-menu
  {
  display: none;
  }

}
