.twiter,.whatsapp, .instagram,.facebook
{
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  box-sizing: border-box;
  color:black;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: color .33s linear .5s, border-color ease-out .5s, background-color .33s linear 0s;
  vertical-align: bottom;
  width: 48px;
  z-index: 1;
}

@media (hover: hover)
{
    .twiter:hover,.whatsapp:hover, .instagram:hover,.facebook:hover
    {
        color: #fff;
        background-color: white;
        border: 1px solid white;
        
    }

    .twiter:hover:after,.whatsapp:hover:after, .instagram:hover:after,.facebook:hover:after
    {
        transform:scale(147%) translateY(0);
        
    }
    
}

.twiter:after,.whatsapp:after, .instagram:after,.facebook:after
{
    border-radius: 50%;
    color: #fff;
    content:"";
    height: 67px;
    position: absolute;
    top: 0;
    transform: scale(100%) translateY(67px);
    transition:transform 1s cubic-bezier(.66, .00, .34, 1.00);
    width: 67px;
    z-index:-1;
    
}

.twiter:after{
    background-color: #1DA1F2;
}

.whatsapp:after{
    background-color:#25D366;
}

.instagram:after{
    background: linear-gradient( #833AB4, #FD1D1D, #FCAF45);;
}

.facebook:after{
    background-color: #3578E5;
}